# 21MIS1114 CHANDRAKANTH.V ASSIGNMENT-1

Task-1 : Create a pandas dataframe (Dataframe name as ‘df’) (10 observations and 5 features)

In [1]:
#import necessary libraries
import pandas as pd
import numpy as np

In [4]:
#creating a dictionary to convert it into dataframe
data = {
    'Student_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
    'Name': ["Chandrakanth", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Hannah", "Ivy", "Jack", "Jagan"],
    'Age': [20, 21, 19, 22, 20, 21, 20, np.nan, 19, 22, np.nan],
    'GPA': [9.33, 3.5, 3.9, 3.2, 3.6, 3.7, 3.9, 3.4, 3.8, 3.5, 6],
    'Major': ["Engineering", "Biology", "Computer Science", "Mathematics", "Psychology",
              "Engineering", "Computer Science", "Biology", "Physics", "Economics", "Chemology"]
}
data

{'Student_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 'Name': ['Chandrakanth',
  'Bob',
  'Charlie',
  'David',
  'Eve',
  'Frank',
  'Grace',
  'Hannah',
  'Ivy',
  'Jack',
  'Jagan'],
 'Age': [20, 21, 19, 22, 20, 21, 20, nan, 19, 22, nan],
 'GPA': [9.33, 3.5, 3.9, 3.2, 3.6, 3.7, 3.9, 3.4, 3.8, 3.5, 6],
 'Major': ['Engineering',
  'Biology',
  'Computer Science',
  'Mathematics',
  'Psychology',
  'Engineering',
  'Computer Science',
  'Biology',
  'Physics',
  'Economics',
  'Chemology']}

In [5]:
#converting/creating  the dict into dataframe using pandas
df = pd.DataFrame(data)
df

    Student_ID          Name   Age   GPA             Major
0            1  Chandrakanth  20.0  9.33       Engineering
1            2           Bob  21.0  3.50           Biology
2            3       Charlie  19.0  3.90  Computer Science
3            4         David  22.0  3.20       Mathematics
4            5           Eve  20.0  3.60        Psychology
5            6         Frank  21.0  3.70       Engineering
6            7         Grace  20.0  3.90  Computer Science
7            8        Hannah   NaN  3.40           Biology
8            9           Ivy  19.0  3.80           Physics
9           10          Jack  22.0  3.50         Economics
10          11         Jagan   NaN  6.00         Chemology

Task- 2 Check the info of 'df'

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Student_ID  11 non-null     int64
 1   Name        11 non-null     object
 2   Age         9 non-null      float64
 3   GPA         11 non-null     float64
 4   Major       11 non-null     object
dtypes: float64(2), int64(1), object(2)
memory usage: 568.0+ bytes

Task 3- Check the descriptive statistics of 'df'

In [7]:
#using the describe
df.describe()

       Student_ID        Age        GPA
count   11.000000   9.000000  11.000000
mean     6.000000  20.444444   4.348182
std      3.316625   1.130388   1.813432
min      1.000000  19.000000   3.200000
25%      3.500000  20.000000   3.500000
50%      6.000000  20.000000   3.700000
75%      8.500000  21.000000   3.900000
max     11.000000  22.000000   9.330000

Task 4- check the 4th index observation with 'loc' slicing operator.

In [8]:
df.loc[4]

Student_ID             5
Name                 Eve
Age                 20.0
GPA                  3.6
Major         Psychology
Name: 4, dtype: object

In [9]:
# we can use slicing along with loc to get only specific features
df.loc[4,'Name':'GPA']

Name     Eve
Age     20.0
GPA      3.6
Name: 4, dtype: object

Task 5 - Check the null values in your 'df'

In [11]:
df.isnull().any()

Student_ID    False
Name          False
Age            True
GPA           False
Major         False
dtype: bool

In [12]:
#to get the count of the null values
df.isnull().sum()

Student_ID    0
Name          0
Age           2
GPA           0
Major         0
dtype: int64